**/__pycache__/
*.sqlite3
dom.py
.idea/*
media/*
*.pyc
media/
.vscode/*
*.orig
venv/*
*/venv/*
*/env/*
*/migrations/0*
/venv
nginx.conf
/env
.cache/*
logs/
.DS_Store
.env
.env.local
*/migrations
staticfiles/
mediafiles/
127.0.0.1
127.0.0.1.lock
